# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/FrontEnd/Admin/node_modules
/src/FrontEnd/Admin/npm-debug.log*
/src/FrontEnd/Admin/yarn-error.log
/src/FrontEnd/Admin/yarn.lock
/src/FrontEnd/Admin/package-lock.json

# production
src/FrontEnd/Admin/dist

# misc
.DS_Store

# umi
/src/FrontEnd/Admin/src/*
/src/FrontEnd/Admin/src/.umi/.cache/*
src/FrontEnd/Admin/src/.umi-production
src/FrontEnd/Admin/src/.umi-test
src/FrontEnd/Admin/.env.local

/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.idea/
.idea_modules/
.vscode/
DesignPatterns/