<!--
 * @Author: Li-HONGYAO
 * @Date: 2020-12-17 11:02:27
 * @LastEditTime: 2021-01-19 22:10:51
 * @LastEditors: Li-HONGYAO
 * @Description: 
 * @FilePath: /Admin/src/pages/document.ejs
-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <script src="https://webapi.amap.com/maps?v=1.4.15&key=86fbbf9d6ba4a9cb9e553bda67cf047a"></script>
</body>
</html>